@using System.Collections.Generic
@using System.Threading.Tasks
@model System.Collections.Generic.IEnumerable<SnapFeud.WebApi.Models.Game>

@{
    ViewData["Title"] = "Home Page";
}
@ViewData["crap"]

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><h1>The Best SnapFeuders of Today</h1>

<table class="table table-striped">
    <tr>
        <th>Score</th>
        <th>Player</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Name)
            </td>
        </tr>
    }
</table>
</div>
    <div class="col-md-2"></div>
</div>
<div class="row"></div>
